html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

body {
  background: #fff; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0; }

a img {
  border: 0; }

input, textarea {
  border-radius: 0;
  appearance: none; }

input[type="radio"], input[type="checkbox"] {
  -webkit-appearance: none; }

/*
 * Animations
 *
 * Defines `slide-in-up` `slide-out-up` `scale-fade`
 * Used for section overlays
 */
body .slide-in-up {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  opacity: 0.4; }
body .scale-fade {
  opacity: 1; }
body .slide-in-left {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0); }
body .show-in {
  opacity: 0; }
  body .show-in:nth-child(10n+2) {
    -webkit-animation-delay: 0.05s !important;
            animation-delay: 0.05s !important; }
  body .show-in:nth-child(10n+3) {
    -webkit-animation-delay: 0.1s !important;
            animation-delay: 0.1s !important; }
  body .show-in:nth-child(10n+4) {
    -webkit-animation-delay: 0.15s !important;
            animation-delay: 0.15s !important; }
  body .show-in:nth-child(10n+5) {
    -webkit-animation-delay: 0.2s !important;
            animation-delay: 0.2s !important; }
  body .show-in:nth-child(10n+6) {
    -webkit-animation-delay: 0.25s !important;
            animation-delay: 0.25s !important; }
  body .show-in:nth-child(10n+7) {
    -webkit-animation-delay: 0.3s !important;
            animation-delay: 0.3s !important; }
  body .show-in:nth-child(10n+8) {
    -webkit-animation-delay: 0.35s !important;
            animation-delay: 0.35s !important; }
  body .show-in:nth-child(10n+9) {
    -webkit-animation-delay: 0.4s !important;
            animation-delay: 0.4s !important; }
  body .show-in:nth-child(10n+10) {
    -webkit-animation-delay: 0.45s !important;
            animation-delay: 0.45s !important; }
body.animate .slide-out-up {
  transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
body.animate .slide-in-up {
  transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s ease-in;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s ease-in; }
body.animate .slide-in-left {
  transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
body.animate .slide-out-right {
  transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
body.animate .scale-fade {
  transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  -webkit-transform-origin: 50%, 60px;
      -ms-transform-origin: 50%, 60px;
          transform-origin: 50%, 60px; }
body.animate .fade {
  transition: opacity 0.5s cubic-bezier(0.4, 1, 0.4, 1); }
body.overlay-opened .slide-out-up {
  -webkit-transform: translate3d(0, -46px, 0);
          transform: translate3d(0, -46px, 0); }
body.overlay-opened .slide-in-up {
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
  opacity: 1; }
body.overlay-opened .scale-fade {
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 0; }
body.overlay-opened .fade {
  opacity: 0; }
body.customizer-section .slide-in-left {
  -webkit-transform: translate3d(-40%, 0, 0);
          transform: translate3d(-40%, 0, 0); }
body.themes-section .slide-out-right {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }
body.themes-section .slide-in-left {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

@-webkit-keyframes slideContentRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

  70% {
    -webkit-transform: translate3d(285px, 0, 0);
            transform: translate3d(285px, 0, 0); }

  100% {
    -webkit-transform: translate3d(265px, 0, 0);
            transform: translate3d(265px, 0, 0); } }

@keyframes slideContentRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

  70% {
    -webkit-transform: translate3d(285px, 0, 0);
            transform: translate3d(285px, 0, 0); }

  100% {
    -webkit-transform: translate3d(265px, 0, 0);
            transform: translate3d(265px, 0, 0); } }

@-webkit-keyframes slideContentLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

  30% {
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0); }

  100% {
    -webkit-transform: translate3d(-265px, 0, 0);
            transform: translate3d(-265px, 0, 0); } }

@keyframes slideContentLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

  30% {
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0); }

  100% {
    -webkit-transform: translate3d(-265px, 0, 0);
            transform: translate3d(-265px, 0, 0); } }

@-webkit-keyframes slideMenuDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

  80% {
    opacity: 1;
    -webkit-transform: translate3d(0, 22px, 0);
            transform: translate3d(0, 22px, 0); }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 17px, 0);
            transform: translate3d(0, 17px, 0); } }

@keyframes slideMenuDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

  80% {
    opacity: 1;
    -webkit-transform: translate3d(0, 22px, 0);
            transform: translate3d(0, 22px, 0); }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 17px, 0);
            transform: translate3d(0, 17px, 0); } }

@-webkit-keyframes slideMenuUp {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

  20% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); } }

@keyframes slideMenuUp {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

  20% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); } }

@-webkit-keyframes rotateOpen {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  50% {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg); }

  75% {
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg); }

  90% {
    -webkit-transform: rotate(185deg);
            transform: rotate(185deg); }

  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@keyframes rotateOpen {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  50% {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg); }

  75% {
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg); }

  90% {
    -webkit-transform: rotate(185deg);
            transform: rotate(185deg); }

  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@-webkit-keyframes rotateClosed {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); }

  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }

  90% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }

  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@keyframes rotateClosed {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); }

  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }

  90% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }

  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@-webkit-keyframes "appear" {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes "appear" {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.calendar-container {
  overflow: auto;
  line-height: 1; }

.rc-Calendar {
  margin: 20px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  width: 9332px; }
  .rc-Calendar .rc-Month {
    min-width: 686px;
    display: inline-block;
    vertical-align: top;
    margin-right: 50px; }
    .rc-Calendar .rc-Month header.rc-Month-header {
      font-size: 24px;
      text-align: center; }
    .rc-Calendar .rc-Month .rc-Week-number {
      display: none; }
    .rc-Calendar .rc-Month .rc-Month-weekdays {
      margin-bottom: 10px; }
      .rc-Calendar .rc-Month .rc-Month-weekdays .rc-Month-weekdays-weekday {
        text-align: center;
        height: 37.5px;
        background: #ffffff; }
        .rc-Calendar .rc-Month .rc-Month-weekdays .rc-Month-weekdays-weekday label {
          line-height: 55px;
          color: #d2dee6; }
    .rc-Calendar .rc-Month .rc-Month-weekdays-weekday, .rc-Calendar .rc-Month .rc-Day {
      width: calc(100%/7 - 10px);
      display: inline-block;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      height: 75px;
      border-left: 0px;
      background: #f4f8fA;
      margin-right: 5px;
      text-align: right; }
    .rc-Calendar .rc-Month .rc-Week-days {
      height: 75px;
      margin-bottom: 5px;
      font-size: 12px; }
      .rc-Calendar .rc-Month .rc-Week-days .rc-Day {
        position: relative;
        border-radius: 3px; }
        .rc-Calendar .rc-Month .rc-Week-days .rc-Day.rc-Day--outside {
          background: #fbfcfd; }
          .rc-Calendar .rc-Month .rc-Week-days .rc-Day.rc-Day--outside .rc-Day-body {
            color: #d2dee6;
            display: none; }
        .rc-Calendar .rc-Month .rc-Week-days .rc-Day .rc-Day-body {
          position: absolute;
          top: 10px;
          right: 10px;
          color: #00aadc;
          font-size: 18px;
          font-weight: 600; }
/*# sourceMappingURL=style.css.map */